/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  color: black;
  border: 0px solid black;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

img {
  border-radius: 10px;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}


main {
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.new-post-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.new-post-form form {
  display: flex;
  justify-content: center;
}

.new-post-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-post-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  /* flex-direction: row; */
  width: 40rem;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.2em;
  width: 100%;
}

input:focus {
  outline: none;
  border: 2px solid rgb(116, 106, 255);
  box-shadow: 0 0 5px rgb(116, 106, 255);
}

textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}

textarea:focus {
  outline: none;
  border: 2px solid rgb(116, 106, 255);
  box-shadow: 0 0 5px rgb(116, 106, 255);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  background-color: rgb(255, 201, 218);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

.card img {
  width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.event-card {
  margin: 1rem;
  background-color: rgb(170, 253, 183);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.event-card img {
  width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.venue-card {
  margin: 1rem;
  background-color: rgb(125, 226, 235);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.venue-card img {
  width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.feature-card {
  margin: 1rem;
  align-items: center;
  background-color: rgb(238, 255, 201);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  width: 500px;
  height: auto;
}

.feature-card img {
  width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.padding-container {
  padding: 20px;
}

.form {
  background: rgb(255, 201, 218);
  padding: 20px;
  border-radius: 15px;
  margin: 30px;
}

.event-form {
  background: rgb(170, 253, 183);
  padding: 20px;
  border-radius: 15px;
  margin: 30px;
}

.venue-form {
  background: rgb(125, 226, 235);
  padding: 20px;
  border-radius: 15px;
  margin: 30px;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
